* {
  box-sizing: border-box !important;
}

#wrapper {
  margin: 0;
  padding: 0;
}

body,
.body-text {
  font-family: -apple-system, 'Roboto Regular', Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
}

a[href^='tel'] {
  color: #000000 !important;
  font-weight: bold !important;
}

a:-webkit-any-link,
a:hover {
  color: inherit !important;
  text-decoration: none !important;
  cursor: pointer;
}

p {
  margin: 0;
}

.footerLink a {
  color: #888888;
  text-decoration: none;
}

.helpLink a,
.addressLink a,
.orderLink a,
.prodNameLink a,
.vgcNameLink a {
  color: #000000;
  text-decoration: none;
}

.returnsLink a,
.storeLink a,
.directionsLink a {
  color: #000000;
  text-decoration: underline;
}

.returnPolicyLink a {
  color: #888888;
  text-decoration: underline;
}

.shipAddress a {
  color: #666666;
  text-decoration: none;
}

.vgcLink a,
.pickupPersonLink a {
  color: #888888;
  text-decoration: none;
}

img {
  -ms-interpolation-mode: bicubic;
}

.autolinks-hide a[x-apple-data-detectors],
.autolinks-show a[x-apple-data-detectors],
*:root:root .autolink-hide a,
*:root:root .autolink-show a {
  border-bottom: none;
  color: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  text-decoration: inherit !important;
}

.autolinks-hide a[x-apple-data-detectors],
*:root:root .autolink-hide a {
  border-bottom: inherit;
}

sup {
  font-size: 75%;
  line-height: 0;
}

@media all and (max-width: 600px) {
  #wrapper,
  *[class].x_container,
  *[class].menu {
    min-width: 0 !important;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    width: 100% !important;
  }

  *[class].mobile-hide {
    display: none;
  }
}
